.divFooter {
  background-color: rgb(25, 25, 26);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

h5 {
  color: aliceblue;
  font-weight: lighter;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
